name: Release kulfi-utils

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Publish to crates.io
        run: |
          cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}

          # Function to check if a version exists and publish if not
          publish_if_new() {
            local package=$1
            local version=$(cargo metadata --format-version 1 --no-deps | jq -r ".packages[] | select(.name == \"$package\") | .version")

            echo "Checking if $package v$version exists on crates.io..."
            if curl -s "https://crates.io/api/v1/crates/$package/$version" | grep -q "\"version\":\"$version\""; then
              echo "Version $version of $package already exists on crates.io. Skipping..."
            else
              echo "Publishing $package v$version..."
              cargo publish -p $package
            fi
          }

          publish_if_new "kulfi-id52"
          publish_if_new "kulfi-utils"